h1 {
     margin-top: 20px;
     margin-bottom: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

body {
  background-image: url("images/white-waves.png");
 }

h2 {
    margin-top: 20px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

.col-9 {
    margin-left: 50px;
    margin-right: 50px;
}